html {
  background-color: #ebe9d7;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: 80%;
}

/* Navagation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Display Menu Items In Grid */
.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Fonts*/

@font-face {
  font-family: "alice-regular";
  src: url("/fonts/alice-regular.ttf");
}

@font-face {
  font-family: "able-regular";
  src: url("/fonts/Abel-Regular.ttf");
}

p {
  font-family: "alice-regular";
  font-size: 14px;
}

h1 {
  text-align: center;
}

h2 {
  font-family: "able-regular";
  font-size: 30px;
  color: #b8bc5c;
}

.centertext {
  text-align: center;
}
#breakfast {
  background-image: url("./images/headingbreakfast.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#breakfastinfo {
  background-image: url("./images/infobackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  font-weight: normal;
}

#breakfastwraps {
  background-image: url("./images/doubleheading.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#breakfastheros {
  background-image: url("./images/doubleheading.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#rcornersyellow {
  border-radius: 10px;
  background: #ffc43c;
  padding: 10px;
  width: 200px;
  height: 50px;
}

#squaregreen {
  background: #b8ecac;
  padding: 10px;
  width: 200px;
  height: 250px;
}
